---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company//query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20LIKE%20%27%25%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - 1fb02fcd-4da8-ecae-3360-d6adc243e01f
      Www-Authenticate:
      - Bearer realm="Intuit", error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"warnings":null,"intuitObject":null,"fault":{"error":[{"message":"message=AuthenticationFailed;
        errorCode=003200; statusCode=401","detail":"Malformed bearer token: too short
        or too long","code":"3200","element":null}],"type":"AUTHENTICATION"},"report":null,"queryResponse":null,"batchItemResponse":[],"attachableResponse":[],"syncErrorResponse":null,"requestId":null,"time":1559342012995,"status":null,"cdcresponse":[]}'
  recorded_at: Fri, 31 May 2019 22:33:33 GMT
- request:
    method: post
    uri: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
    body:
      encoding: UTF-8
      string: client_id=Q0kCeGlRauoCpUFqc0TE8MgT3r2WKyPUsZ3itTOR0XCwILj9Cj&client_secret=dbV3ERTy2HHtAjWhKzUkZpE4Skr1yzgQaCZj6HEL&grant_type=refresh_token&refresh_token=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - ef2f7b83-e975-d97c-5627-1db3fe7a5a8e
    body:
      encoding: UTF-8
      string: '{"error_description":"Incorrect or invalid refresh token","error":"invalid_grant"}'
  recorded_at: Fri, 31 May 2019 22:33:33 GMT
[...]
- request:
    method: post
    uri: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
    body:
      encoding: UTF-8
      string: client_id=Q0kCeGlRauoCpUFqc0TE8MgT3r2WKyPUsZ3itTOR0XCwILj9Cj&client_secret=dbV3ERTy2HHtAjWhKzUkZpE4Skr1yzgQaCZj6HEL&grant_type=refresh_token&refresh_token=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - c45e9b07-644c-efa4-57f3-9dc2fccbe815
    body:
      encoding: UTF-8
      string: '{"error_description":"Incorrect or invalid refresh token","error":"invalid_grant"}'
  recorded_at: Fri, 31 May 2019 22:33:33 GMT
recorded_with: VCR 4.0.0
