---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company//customer/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - 96d5c393-626b-e1c4-112e-c2e8df5a4d8e
      Www-Authenticate:
      - Bearer realm="Intuit", error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"warnings":null,"intuitObject":null,"fault":{"error":[{"message":"message=AuthenticationFailed;
        errorCode=003200; statusCode=401","detail":"Malformed bearer token: too short
        or too long","code":"3200","element":null}],"type":"AUTHENTICATION"},"report":null,"queryResponse":null,"batchItemResponse":[],"attachableResponse":[],"syncErrorResponse":null,"requestId":null,"time":1558796013871,"status":null,"cdcresponse":[]}'
  recorded_at: Sat, 25 May 2019 14:53:33 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company//customer
    body:
      encoding: UTF-8
      string: '{"DisplayName":"Test Customer","PrimaryPhone":{"FreeFormNumber":null},"PrimaryEmailAddr":{"Address":"test@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - fae40d9a-000f-a3aa-251c-d2bca3bd4e70
      Www-Authenticate:
      - Bearer realm="Intuit", error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"warnings":null,"intuitObject":null,"fault":{"error":[{"message":"message=AuthenticationFailed;
        errorCode=003200; statusCode=401","detail":"Malformed bearer token: too short
        or too long","code":"3200","element":null}],"type":"AUTHENTICATION"},"report":null,"queryResponse":null,"batchItemResponse":[],"attachableResponse":[],"syncErrorResponse":null,"requestId":null,"time":1558796014265,"status":null,"cdcresponse":[]}'
  recorded_at: Sat, 25 May 2019 14:53:34 GMT
recorded_with: VCR 4.0.0
