.container
  %h1 Ledgers
  .row.mb-2
    .col
      = link_to new_ledgers_quickbooks_online_path, class: 'btn btn-primary' do
        Connect QuickBooks

  - current_organization.ledgers.each do |ledger|
    .row
      .col
        = render 'ledgers/card', ledger: ledger