---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company//customer/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - 3e5f69b5-c5e9-5ba1-55f4-ef8c03e28241
      Www-Authenticate:
      - Bearer realm="Intuit", error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"warnings":null,"intuitObject":null,"fault":{"error":[{"message":"message=AuthenticationFailed;
        errorCode=003200; statusCode=401","detail":"Malformed bearer token: too short
        or too long","code":"3200","element":null}],"type":"AUTHENTICATION"},"report":null,"queryResponse":null,"batchItemResponse":[],"attachableResponse":[],"syncErrorResponse":null,"requestId":null,"time":1558419975230,"status":null,"cdcresponse":[]}'
  recorded_at: Tue, 21 May 2019 06:26:15 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company//customer
    body:
      encoding: UTF-8
      string: '{"DisplayName":"Test Customer","PrimaryPhone":{"FreeFormNumber":null},"PrimaryEmailAddr":{"Address":"test@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - d2fdc2c1-9ba1-566a-59ec-aa39c9a17df3
      Www-Authenticate:
      - Bearer realm="Intuit", error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"warnings":null,"intuitObject":null,"fault":{"error":[{"message":"message=AuthenticationFailed;
        errorCode=003200; statusCode=401","detail":"Malformed bearer token: too short
        or too long","code":"3200","element":null}],"type":"AUTHENTICATION"},"report":null,"queryResponse":null,"batchItemResponse":[],"attachableResponse":[],"syncErrorResponse":null,"requestId":null,"time":1558419975433,"status":null,"cdcresponse":[]}'
  recorded_at: Tue, 21 May 2019 06:26:15 GMT
recorded_with: VCR 4.0.0
