---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company//customer/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - 48b3697b-791c-5473-db0f-dd6cdd006a85
      Www-Authenticate:
      - Bearer realm="Intuit", error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"warnings":null,"intuitObject":null,"fault":{"error":[{"message":"message=AuthenticationFailed;
        errorCode=003200; statusCode=401","detail":"Malformed bearer token: too short
        or too long","code":"3200","element":null}],"type":"AUTHENTICATION"},"report":null,"queryResponse":null,"batchItemResponse":[],"attachableResponse":[],"syncErrorResponse":null,"requestId":null,"time":1558420712273,"status":null,"cdcresponse":[]}'
  recorded_at: Tue, 21 May 2019 06:38:32 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company//customer
    body:
      encoding: UTF-8
      string: '{"DisplayName":"Test Customer","PrimaryPhone":{"FreeFormNumber":null},"PrimaryEmailAddr":{"Address":"test@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - 0b6274b7-3cef-6609-8507-8f65b5799ee4
      Www-Authenticate:
      - Bearer realm="Intuit", error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"warnings":null,"intuitObject":null,"fault":{"error":[{"message":"message=AuthenticationFailed;
        errorCode=003200; statusCode=401","detail":"Malformed bearer token: too short
        or too long","code":"3200","element":null}],"type":"AUTHENTICATION"},"report":null,"queryResponse":null,"batchItemResponse":[],"attachableResponse":[],"syncErrorResponse":null,"requestId":null,"time":1558420712465,"status":null,"cdcresponse":[]}'
  recorded_at: Tue, 21 May 2019 06:38:32 GMT
recorded_with: VCR 4.0.0
